<div class="row">
    <div class="col-lg-12">
        <h1>Stockapp</h1>
        <p>
            Stockapp es un juego de simulación financiera.
        </p>
        <p>
            El juego conciste en simular la actividad de la bolsa de valores, permitiendo a los jugadores realizar
            inversiones y ver los resultados de las mismas.
        </p>
        <div class="col-lg-8">
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">¿Como Jugar?</h4>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li>Registrarse en el sistema</li>
                            <li>Accede a tu portfolio de acciones</li>
                            <li>Compra o vende acciones inteligentement</li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Reglas</h4>
                    </div>
                    <div class="panel-body">
                        <p>La cantidad de acciones que se desea adquirir esta disponible en el pool de acciones de la aplicación</p>
                        <p>El jugador cuenta con el efectivo necesario para poder realizar la transacción</p>
                        <p>Para poder vender acciones el jugador debe contar con la cantidad que desa vender</p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Funcionalidades</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                Ver portfolio
                            </li>
                            <li>
                                Realizar Transacciones
                            </li>
                            <li>
                                Buscar Stock
                            </li>
                            <li>
                                Historial de transacciones
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
