<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Crea Tu Usuario</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="registerForm" data-ng-submit="submit()">
                    <fieldset>
                        <div class="form-group">
                            <input name="userNameRegister" data-ng-model="register.userName" class="form-control" placeholder="Nombre Usuario" type="text" required>
                            <div ng-messages="registerForm.userNameRegister.$error">
                                <div ng-message="required">Debe ingresar un nombre de Usuario.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="emailRegister" data-ng-model="register.Email" class="form-control" placeholder="E-mail" type="email" required>
                            <div ng-messages="registerForm.emailRegister.$error">
                                <div ng-message="required">Debe ingresar un email valido.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Contraseña" type="password" value="" name="password" data-ng-model="register.Password" required validate-Password>
                            <div ng-messages="registerForm.password.$error">
                                <div ng-message="required">Ingrese una contraseña.</div>
                                <div ng-message="length">Debe ser de un largo minimo 6.</div>
                                <div ng-message="letter">Debe contener una letra.</div>
                                <div ng-message="number">Debe contener un numero</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Nombre" type="text" value="" name="firstName" data-ng-model="register.Name" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Apellido" type="text" value="" name="lastName" data-ng-model="register.Surname">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="C.I." type="number" value="" name="ci" data-ng-model="register.CI" required validate-Ci>
                            <div ng-messages="registerForm.ci.$error">
                                <div ng-message="required">Ingrese una C.I.</div>
                                <div ng-message="letter">La C.I. debe ser numerica</div>
                                <div ng-message="length">El largo de la cedula no es correcto</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Codigo de invitacion" type="text" value="" name="invitationCode" data-ng-model="register.InvitationCode" required validate-Code>
                            <div ng-messages="registerForm.invitationCode.$error">
                                <div ng-message="required">Ingrese su codigo de invitacion</div>
                                <div ng-message="length">Debe ser de un largo minimo 8.</div>
                                <div ng-message="letter">Debe contener una letra.</div>
                                <div ng-message="number">Debe contener un numero.</div>
                            </div>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="registerForm.$invalid" ng-show="!isLoading">Registrarse</button>
                        <a class="btn btn-lg btn-info btn-block" href="#/login"> Ya tengo un usuario </a>
                        <a href="#/">Cancelar</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
