Stockapp/.vs/Stockapp/v14/.suo
Stockapp/packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.dll
Stockapp/packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.pdb
Stockapp/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
Stockapp/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
Stockapp/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
Stockapp/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
Stockapp/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
Stockapp/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
Stockapp/packages/EntityFramework.6.1.3/tools/migrate.exe
Stockapp/packages/EntityFrameworkTesting.1.2.0/lib/net40/EntityFramework.Testing.dll
Stockapp/packages/EntityFrameworkTesting.1.2.0/lib/net40/EntityFramework.Testing.pdb
Stockapp/packages/EntityFrameworkTesting.1.2.0/lib/net45/EntityFramework.Testing.dll
Stockapp/packages/EntityFrameworkTesting.1.2.0/lib/net45/EntityFramework.Testing.pdb
Stockapp/packages/EntityFrameworkTesting.Moq.1.2.0/lib/net40/EntityFramework.Testing.Moq.dll
Stockapp/packages/EntityFrameworkTesting.Moq.1.2.0/lib/net40/EntityFramework.Testing.Moq.pdb
Stockapp/packages/EntityFrameworkTesting.Moq.1.2.0/lib/net45/EntityFramework.Testing.Moq.dll
Stockapp/packages/EntityFrameworkTesting.Moq.1.2.0/lib/net45/EntityFramework.Testing.Moq.pdb
Stockapp/packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.dll
Stockapp/packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.dll
Stockapp/packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.dll
Stockapp/packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.dll
Stockapp/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40/Microsoft.AI.Agent.Intercept.dll
Stockapp/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45/Microsoft.AI.Agent.Intercept.dll
Stockapp/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.dll
Stockapp/packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.dll
Stockapp/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
Stockapp/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
Stockapp/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.dll
Stockapp/packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.dll
Stockapp/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.dll
Stockapp/packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.dll
Stockapp/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
Stockapp/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
Stockapp/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
Stockapp/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.dll
Stockapp/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
Stockapp/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
Stockapp/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.1/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/csc.exe
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/csi.exe
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.CodeAnalysis.CSharp.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.CodeAnalysis.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.CodeAnalysis.Scripting.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.CodeAnalysis.VisualBasic.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.DiaSymReader.Native.amd64.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/Microsoft.DiaSymReader.Native.x86.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.AppContext.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.Collections.Immutable.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.Diagnostics.StackTrace.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.IO.FileSystem.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.IO.FileSystem.Primitives.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/System.Reflection.Metadata.dll
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/vbc.exe
Stockapp/packages/Microsoft.Net.Compilers.1.2.1/tools/VBCSCompiler.exe
Stockapp/packages/Moq.4.2.1510.2205/lib/net35/Moq.dll
Stockapp/packages/Moq.4.2.1510.2205/lib/net40/Moq.dll
Stockapp/packages/Moq.4.2.1510.2205/lib/sl5/Moq.Silverlight.dll
Stockapp/packages/Moq.EntityFramework.1.0.10.0/Moq.EntityFramework.dll
Stockapp/packages/Moq.EntityFramework.1.0.10.0/lib/net452/Moq.EntityFramework.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/net20/Newtonsoft.Json.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/net35/Newtonsoft.Json.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/net40/Newtonsoft.Json.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/net45/Newtonsoft.Json.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
Stockapp/packages/Newtonsoft.Json.8.0.3/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.dll
Stockapp/packages/Unity.4.0.1/lib/net45/Microsoft.Practices.Unity.Configuration.dll
Stockapp/packages/Unity.4.0.1/lib/net45/Microsoft.Practices.Unity.dll
Stockapp/packages/Unity.4.0.1/lib/net45/Microsoft.Practices.Unity.RegistrationByConvention.dll
Stockapp/packages/Unity.4.0.1/lib/portable-net45+wp80+win8+wpa81+MonoAndroid10+MonoTouch10/Microsoft.Practices.Unity.dll
Stockapp/packages/Unity.4.0.1/lib/win8/Microsoft.Practices.Unity.dll
Stockapp/packages/Unity.4.0.1/lib/win8/Microsoft.Practices.Unity.RegistrationByConvention.dll
Stockapp/packages/Unity.4.0.1/lib/wp80/Microsoft.Practices.Unity.dll
Stockapp/packages/Unity.4.0.1/lib/wp80/Microsoft.Practices.Unity.RegistrationByConvention.dll
Stockapp/packages/xunit.abstractions.2.0.0/lib/net35/xunit.abstractions.dll
Stockapp/packages/xunit.abstractions.2.0.0/lib/portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS/xunit.abstractions.dll
Stockapp/packages/xunit.assert.2.1.0/lib/dotnet/xunit.assert.dll
Stockapp/packages/xunit.assert.2.1.0/lib/dotnet/xunit.assert.pdb
Stockapp/packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.dll
Stockapp/packages/xunit.assert.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.assert.pdb
Stockapp/packages/xunit.core.2.1.0/build/_desktop/xunit.execution.desktop.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.core.pdb
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.runner.tdnet.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/dotnet/xunit.runner.utility.desktop.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.core.pdb
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.tdnet.dll
Stockapp/packages/xunit.extensibility.core.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.runner.utility.desktop.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/dnx451/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/dotnet/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/monoandroid/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/monotouch/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/net45/xunit.execution.desktop.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/net45/xunit.execution.desktop.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/portable-net45+win8+wp8+wpa81/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/win8/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/wp8/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/wpa81/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.dll
Stockapp/packages/xunit.extensibility.execution.2.1.0/lib/xamarinios/xunit.execution.dotnet.pdb
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/_common/xunit.abstractions.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/_common/xunit.runner.utility.desktop.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/_common/xunit.runner.utility.dotnet.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/_common/xunit.runner.visualstudio.testadapter.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/uap10.0/xunit.runner.visualstudio.uwp.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/win81/xunit.runner.visualstudio.win81.dll
Stockapp/packages/xunit.runner.visualstudio.2.1.0/build/wpa81/xunit.runner.visualstudio.wpa81.dll
Stockapp/Stockapp.Data.Access/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Stockapp/Stockapp.Data.Access/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Stockapp/Stockapp.Data.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Stockapp/Stockapp.Data/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Stockapp/Stockapp.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Stockapp/Stockapp.Data/obj/Debug/TempPE/Resources.Strings.Designer.cs.dll
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.Access.dll
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.Access.pdb
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.dll
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.pdb
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.Repository.dll
Stockapp/Stockapp.Logic/bin/Debug/Stockapp.Data.Repository.pdb
Stockapp/Stockapp.Logic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Stockapp/Stockapp.Portal/Stockapp.Portal.csproj.user
Stockapp/Stockapp.Portal/bin/EntityFramework.Testing.dll
Stockapp/Stockapp.Portal/bin/EntityFramework.Testing.Moq.dll
Stockapp/Stockapp.Portal/bin/Microsoft.Practices.ServiceLocation.dll
Stockapp/Stockapp.Portal/bin/Microsoft.Practices.Unity.Configuration.dll
Stockapp/Stockapp.Portal/bin/Microsoft.Practices.Unity.dll
Stockapp/Stockapp.Portal/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
Stockapp/Stockapp.Portal/bin/Moq.dll
Stockapp/Stockapp.Portal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Stockapp/Stockapp.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
